html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.navbar-is-static-top {
  margin-top: 0;
}

.fontyourface {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}

.path-frontpage {
  margin-top: 30px;
}

body {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 15px;
  }
}

body {
  position: relative;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

body {
  margin: 0;
  margin-top: 0px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

element {
}
body.navbar-is-static-top {
  margin-top: 0;
}
.path-frontpage {
  margin-top: 30px;
}
.fontyourface {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}
body {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  body {
    margin-top: 15px;
  }
}
body {
  position: relative;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body {
  margin: 0;

  margin-top: 0px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

.fontyourface {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}

#featured_container {
  background: #c2c2c2;
}

#featured_container {
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fontyourface {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

html {
  font-size: 10px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

#featured_container::before {
  display: block;
  width: 100%;
  content: "";
  height: 2px;
  /*  */
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.block-views-blockfront-page-news-block-2 {
  margin-top: 3rem;
}

.form-group:last-child,
.panel:last-child,
p:last-child {
  margin-bottom: 0;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

#featured_container .col-sm-6 div {
  position: relative;
  margin-bottom: 3rem;
}

#featured_container a:visited {
  color: #fff;
  text-decoration: none;
  transition: color 3s ease-out;
}

a {
  background-color: transparent;
}

#featured_container a:link img,
#featured_container a:visited img {
  opacity: 0.85;
  transition: opacity 1s ease-out;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
}

#featured_container a:visited {
  color: #fff;
}

#featured_container .shadow_featured {
  position: absolute !important;
  margin-bottom: 0 !important;
  bottom: 0;
  left: 0;
  min-height: 75%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.85)
  );
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.85)
  );
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

#featured_container a:link .shadow_featured,
#featured_container a:visited .shadow_featured {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity 2s ease-out;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#featured_container h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px;
  border-bottom: 2px solid #fff;
  font-size: 2rem;
}

@media only screen and (min-width: 1200px) {
  #featured_container h2 {
    font-size: 3rem;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

#featured_container a:link h2 span,
#featured_container a:visited h2 span {
  background: #252775;
  background-color: rgb(37, 39, 117);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  transition: background 2s ease-out;
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transition-behavior: normal;
}

#featured_container h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px;
  border-bottom: 2px solid #fff;
  font-size: 2rem;
}

#block-lpnu-main-menu,
.region-sidebar-second,
.logo,
.page-header,
#hero,
#block-lpnushortcutstop4,
#featured_container h2,
#events_container,
.news_teaser,
.block-views-blockfront-page-news-block-3 h2,
.paragraph--type--person-with-description .field--name-field-person-name,
.view-header h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#featured_container a:visited {
  color: #fff;
  text-decoration: none;
  transition: color 3s ease-out;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
}

#featured_container a:link .shadow_featured,
#featured_container a:visited .shadow_featured {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity 2s ease-out;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transition-behavior: normal;
}

#featured_container .shadow_featured {
  position: absolute !important;
  margin-bottom: 0 !important;
  bottom: 0;
  left: 0;
  min-height: 75%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.85)
  );
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.85)
  );
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

@media only screen and (min-width: 1200px) {
  #featured_container h2 {
    font-size: 3rem;
  }
}

#featured_container h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px;
  border-bottom: 2px solid #fff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  font-size: 2rem;
}

#featured_container .col-sm-6 div {
  position: relative;
  margin-bottom: 3rem;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

#featured_container .col-sm-6 div {
  position: relative;
  margin-bottom: 3rem;
}

::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#featured_container .shadow_featured {
  position: absolute !important;
  margin-bottom: 0 !important;
  bottom: 0;
  left: 0;
  min-height: 75%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.85)
  );
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.85)
  );
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
}

.btn-group-vertical > .btn-group::after,
.btn-group-vertical > .btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
  display: table;
  content: " ";
}

.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
  clear: both;
}

#featured_container .col-sm-6 div {
  position: relative;
  margin-bottom: 3rem;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
}

