body {
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
  position: relative;
  font-size: 1.6rem;
}

.fontyourface {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}

#featured_container {
  background: #c2c2c2;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-6 {
  float: left;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

#featured_container .col-sm-6 div {
  position: relative;
  margin-bottom: 3rem;
}

#featured_container a:visited {
  color: #fff;
  text-decoration: none;
  transition: color 3s ease-out;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#featured_container .shadow_featured {
  position: absolute !important;
  margin-bottom: 0 !important;
  bottom: 0;
  left: 0;
  min-height: 75%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.85)
  );
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: inherit;
  font-size: 3rem;
}


#featured_container a:link h2 span {
  background: #252775;
  transition:  2s ease-out;
}

#featured_container h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px;
  border-bottom: 2px solid #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
