body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: #4caf50;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

section {
  padding: 20px;
}

h2 {
  position: relative;
  top: 0px;
  background: #f9f9f9;
  padding: 10px 0;
  margin: 0;
  z-index: 0;
  border-bottom: 1px solid #ddd;
}

/* Секція 1 */
#section-1 img {
  float: left;
  margin-right: 20px;
  width: 250px;
  height: 250px;
}

.text {
  text-align: justify;
}

.clear {
  clear: both;
}

/* Секція 2 */
.multicolumn-text {
  column-width: 300px;
  column-gap: 20px;
}

/* Планшети (Великі екрани): до 1024px */
/* Текст у 2 колонки */
@media (max-width: 1024px) {
    .multicolumn-text {
        column-count: 2;
    }
}
/* Екрани до 768px */
/* Текст у 1 колонку */
@media (max-width: 768px) {
    .multicolumn-text {
        column-count: 1;
    }
}
/* Секція 3 */
#subscribe-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#subscribe-button:hover {
  background-color: #45a049;
}

/* Модальне вікно */
#modal.hidden {
  display: none;
}

#modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-content {
  background: white;
  width: 50%;
  height: 50%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="email"] {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  font-size: 16px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
