body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    /*position: VALUE;*/
    top: 0;
    /*z-index: VALUE;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
}

h2 {
    /*position: VALUE;*/
    /*top: VALUE;*/
    background: #f9f9f9;
    padding: 10px 0;
    margin: 0;
    /*z-index: VALUE;*/
    border-bottom: 1px solid #ddd;
}

/* Секція 1 */
#section-1 img {
    /*float: VALUE;*/
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 250px;
}

.text {
    text-align: justify;
}

.clear {
    /*clear: VALUE;*/
    clear: both;
}

/* Секція 2 */
.multicolumn-text {
    column-width: 300px;
    column-gap: 20px;
}

/* Планшети (Великі екрани): до 1024px */
/* Текст у 2 колонки */

/* Екрани до 768px */
/* Текст у 1 колонку */


/* Секція 3 */
#subscribe-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#subscribe-button:hover {
    background-color: #45a049;
}

/* Модальне вікно */
#modal.hidden {
    /*display: VALUE*/
    display: none;
}

#modal {
    /*position: VALUE;*/
    position: absolute;
    /*top: VALUE;*/
    top: 0;
    /*left: VALUE;*/
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /*z-index: VALUE;*/
    z-index: 2;
}

.modal-content {
    background: white;
    width: 50%;
    height: 50%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content label {
    display: block;
}

input[type="email"] {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    font-size: 16px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}