
.container {
  background-color: rgb(194, 194, 194);
  display: flex;
  flex-wrap: wrap;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  padding: 20px 20px;
  justify-content: center;
  gap: 20px 20px;
}

.items {
  width: 555px;
  height: 277.5px;
  position: relative;
}

.text {
  position: absolute;
  background: rgb(37, 39, 117);
  color: white;
  font-size: 1em;
  line-height: 1.1;
  bottom: 0;
  left: 0;
  margin: 35px;
}

.items div {
  position: absolute;
}

.shadow_featured {
  position: absolute;
  background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,0.85));
  min-height: 75%;
  width: 100%;
  bottom: 0;
  left: 0;
}